<html>
  <head>
    <title>index</title>
    <script src="https://fb.me/react-0.13.1.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx">

     var Todo = React.createClass({
       render: function() {
         return (
           <div className="todo">
             id:{this.props.data.id} 
             content:{this.props.data.content}
             <br />
           </div>
         );
       }
     });

     var TodoList = React.createClass({
       render: function() {
         var todoNodes = this.props.data.map(function (row) {
           return (
             <Todo data={row} />
           );
         });
         return (
           <div className="todoList">
             <h1>Todo list</h1>
             {todoNodes}
           </div>
         );
       }
     });

     var Envelope = React.createClass({
       render: function() {
         if(this.props.data.length == 0){
           return (
             <div>
             </div>
           );
         } else {
           return (
             <div className="envelope">
               <TodoList data={this.props.data} />
             </div>
           );
         }
       }
     });

     var DataBox = React.createClass({
       loadCommentsFromServer: function() {
         $.ajax({
           url: this.props.url,
           dataType: 'json',
           success: function(data) {
             this.setState({data: data});
           }.bind(this),
           error: function(xhr, status, err) {
             console.error(this.props.url, status, err.toString());
           }.bind(this)
         });
       },
       getInitialState: function() {
         return {data: []};
       },
       componentDidMount: function() {
         this.loadCommentsFromServer();
       },
       render: function() {
         return (
           <Envelope data={this.state.data} />
         );
       }
     });


     React.render(
       <DataBox url="/todo/list.json" />,
       document.getElementById('content')
     );
    </script>
  </body>
</html>
