<html>
  <head>
    <title>index</title>
    <script src="https://fb.me/react-0.13.1.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx">

     var Todo = React.createClass({
       render: function() {
         return (
           <div className="todo">
             id:{this.props.data.id} 
             content:{this.props.data.content}
             <br />
           </div>
         );
       }
     });

     var TodoList = React.createClass({
       render: function() {
         var todoNodes = this.props.data.map(function (row) {
           return (
             <Todo data={row} />
           );
         });
         return (
           <div className="todoList">
             <h1>Todo list</h1>
             {todoNodes}
           </div>
         );
       }
     });

    var TodoForm = React.createClass({
      handleSubmit: function(e) {
        e.preventDefault();
        var todoId = React.findDOMNode(this.refs.todoId).value.trim();
        var content = React.findDOMNode(this.refs.content).value.trim();
        if (!todoId || !content) {
          alert("enter both please");
          return;
        }
        // TODO: send request to the server
        React.findDOMNode(this.refs.todoId).value = '';
        React.findDOMNode(this.refs.content).value = '';
        return;
      },
      render: function() {
        return (
          <form className="todoForm" onSubmit={this.handleSubmit}>
            <input type="text" placeholder="id" ref="todoId" />
            <input type="text" placeholder="content" ref="content" />
            <input type="submit" value="Post" />
          </form>
        );
      }
    });

     var DataBox = React.createClass({
       loadCommentsFromServer: function() {
         $.ajax({
           url: this.props.url,
           dataType: 'json',
           success: function(data) {
             this.setState({data: data});
           }.bind(this),
           error: function(xhr, status, err) {
             console.error(this.props.url, status, err.toString());
           }.bind(this)
         });
       },
       getInitialState: function() {
         return {data: []};
       },
       componentDidMount: function() {
         this.loadCommentsFromServer();
       },
       render: function() {
         return (
           <div>
             <TodoList data={this.state.data} />
             <hr />
             <TodoForm />
           </div>
         );
       }
     });


     React.render(
       <DataBox url="/todo/list.json" />,
       document.getElementById('content')
     );
    </script>
  </body>
</html>
