<html>
  <head>
    <title>index</title>
    <script src="https://fb.me/react-0.13.1.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.1.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx">

     var Todo = React.createClass({
       propTypes: {
         todoId: React.PropTypes.number.isRequired
       },
       addTodo: function() {
         this.props.addTodo();
       },
       removeTodo: function(todoId) {
         this.props.removeTodo(this.props.todoId);
       },
       render: function() {
         return (
           <div>
             content:<input type="text" ref="content" />
             <input type="button" value="add" onClick={this.addTodo} />
             <input type="button" value="remove" onClick={this.removeTodo} />
             <br />
           </div>
         );
       }
     });

     var TodoForm = React.createClass({
       render: function() {
         return (
           <form className="todoForm">
             <input type="button" value="Add todo" onClick={this.props.addTodo} />
           </form>
         );
       }
     });

     var TodoBox = React.createClass({
       addTodo: function() {
         var todos = this.state.todoList;
         var nextTodoId = (this.state.todoList.length == 0) ? 1 : this.state.todoList.reduce(function(a,b) { return Math.max(a,b); }) + 1;
         todos.push(nextTodoId);
         this.setState({ todoList: todos})
       },
       removeTodo: function(todoId) {
         this.setState({ todoList: this.state.todoList.filter(function(x){return x != todoId})})
       },
       getInitialState: function() {
         return {todoList: []};
       },
       render: function() {
         if(this.state.todoList.length == 0){
           return (
             <div>
               <TodoForm addTodo={this.addTodo} />
             </div>
           );
         } else {
           var todoList = this.state.todoList.map(function (x) {
             return (
               <Todo addTodo={this.addTodo} todoId={x} removeTodo={this.removeTodo} />
              );
           }, this);
           return (
             <div>
               {todoList}
               <button>submit</button>
             </div>
           );
         }
       }
     });

     React.render(
       <TodoBox />,
       document.getElementById('content')
     );
    </script>
  </body>
</html>
